* {
	box-sizing: border-box;
}

.workspace {
  background-color: @app-background-color;
}

// Scrollbars
.scrollbars-visible-always {
  ::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	::-webkit-scrollbar-track {
		background: @scrollbar-background-color;
	}

	::-webkit-scrollbar-thumb,
	::-webkit-scrollbar-corner {
		border-radius: 9px;
		border: 3px solid transparent;
		background: @scrollbar-color;
		background-clip: content-box;
	}
}
