// These might be better part of the Atom core.

.preview-pane .results-view .path-match-number {
  // show number also on selected item
  color: inherit;
  opacity: .6;
}



// Styleguide

.styleguide .section.bordered,
.styleguide .section.collapsed {
  padding: 16px 0; // stops jumping of the title when collapsing
}

.example .example-rendered {
  background: @level-2-color;
}
