@import "ui-mixins";
@import "ui-variables";
@import "buttons";

.pane-item {
  .panel {
    // Not sure if this is still needed. Disabled for now
    //border-color: fadeout(@inset-panel-border-color, 30%);
  }
}

.panes {
  .pane {
    position: relative;
    background-color: @app-background-color;

    // Active pane marker
    &:before {
      content: "";
      position: absolute;
      pointer-events: none;
      z-index: 2;
      opacity: 0;
      transition: opacity .3s;
      top: 0px;
      left: 0px;
      width: 2px;
      height: 30px;
      background: hsl(@base-hue,100%,60%);
    }
    &.active:before {
      opacity: 1;
    }
  }

  .pane-row > * {
    border-right: 1px solid @pane-item-border-color;
    &:last-child { border-right: none; }
  }

  .pane-column > * {
    border-bottom: 1px solid @pane-item-border-color;
    &:last-child { border-bottom: none; }
  }
}
