@import "ui-mixins";
@import "ui-variables";
@import "buttons";

.panes {
  .pane {
    background-color: @app-background-color;
  }

  .pane-row .pane {
    border-right: 1px solid @pane-item-border-color;
    &:last-child { border-right: none; }
  }
}
