@import "ui-variables";
@tab-radius: 4px;

.tab-bar {
  height: @tab-height + 4px;
  background-image: -webkit-linear-gradient(top, #aeaeae, #a8a8a8);

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    left: 0px;
    width: 100%;
    background-color: #eaece8;
    z-index: 10;
  }
}

.tab {
  position: relative;
  height: @tab-height;
  line-height: @tab-height + 4px;
  color: @text-color;
  z-index: 5;
  transition: color .1s ease-in;

  &:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    height: @tab-height;
    border-top-left-radius: @tab-radius;
    border-top-right-radius: @tab-radius;
    border-left: 1px solid @base-border-color;
    border-right: 1px solid @base-border-color;
    border-top: 1px solid @base-border-color;
    background-image: -webkit-linear-gradient(top, #d1d1d1, #bebebe);
    -webkit-transform: perspective(100px) rotateX(30deg);
    z-index: -1;
    box-shadow: inset 0 -3px 4px rgba(0,0,0, .05), 0 0 2px rgba(0,0,0,.05);
  }

  &:first-child {
    margin-left: 6px;
  }
}

.tab.active {
  z-index: 20;
  color: @text-color-highlight;

  &:before {
    background: #eaece8;
    height: @tab-height + 1px;
    margin-bottom: -2px;
    box-shadow: none;
  }
}

.tab:hover {
  color: @text-color-highlight;
}

.tab.active:hover .close-icon {
  color: @text-color-highlight;
}
