@import "ui-variables";

@tip-background-color: hsl(@base-hue,50%,90%);
@tip-text-color: hsl(@base-hue,30%,30%);

.tooltip {
  white-space: nowrap;

  .tooltip-inner {
    line-height: 19px;
    border-radius: @component-border-radius;
    background-color: @tip-background-color;
    color: @tip-text-color;
    white-space: nowrap;
    max-width: none;
  }

  .keystroke {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: hsl(@base-hue,30%,50%);
    padding: 0 3px;
    border: 1px solid hsl(@base-hue,30%,66%);
    border-radius: @component-border-radius;
  }

  &.in {
    opacity: 1;
  }

  &.top .tooltip-arrow {
    border-top-color: @tip-background-color;
  }
  &.top-left .tooltip-arrow {
    border-top-color: @tip-background-color;
  }
  &.top-right .tooltip-arrow {
    border-top-color: @tip-background-color;
  }
  &.right .tooltip-arrow {
    border-right-color: @tip-background-color;
  }
  &.left .tooltip-arrow {
    border-left-color: @tip-background-color;
  }
  &.bottom .tooltip-arrow {
    border-bottom-color: @tip-background-color;
  }
  &.bottom-left .tooltip-arrow {
    border-bottom-color: @tip-background-color;
  }
  &.bottom-right .tooltip-arrow {
    border-bottom-color: @tip-background-color;
  }
}
