// Base Colors

@base-hue:         220; // value from 0 to 360
@base-saturation:  12%; // keep it moderate < 20%
@base-lightness:   14%; // keep it moderate < 20%

@base-background-color: hsl(@base-hue, @base-saturation, @base-lightness);
@base-border-color: hsla(0,0%,0%,.4);


// Level Colors

@level-1-color: lighten(@base-background-color, 12%);
@level-2-color: lighten(@base-background-color, 4%);
@level-3-color: @base-background-color;
@level-4-color: darken(@base-background-color, 4%);


// Site Colors

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: #D831B0; // pink
@ui-site-color-5: #EBDD5B; // yellow


// Var + State Background Colors

@background-color-info: #0098ff;
@background-color-success: #1BDB87;
@background-color-warning: #EB8A3F;
@background-color-error: #c00;

@background-color-selected: #386EA5;
@background-color-highlight: hsla(0,0%,100%,.1);


// Component Colors

@app-background-color: @level-4-color;

@tree-view-background-color: @level-2-color;
@tree-view-border-color: @base-border-color;

@tab-background-color: transparent;
@tab-background-color-active: @level-1-color;
@tab-bar-background-color: @level-2-color;
@tab-border-color: @base-border-color;
@tab-bar-border-color: @base-border-color;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: @base-border-color;

@tool-panel-background-color: @level-2-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: @level-2-color;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: #43484d;
@panel-heading-border-color: fadein(@base-border-color, 10%);

@overlay-background-color: #202123;
@overlay-border-color: @background-color-highlight;

@button-background-color: #43484d;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: #5c6064;
@button-border-color: @base-border-color;

@input-background-color: @level-3-color;
@input-border-color: @base-border-color;

@scrollbar-background-color: rgba(42, 42, 42, 0.5);
@scrollbar-color: rgba(92, 92, 92, 0.5);


// Text Colors

@text-color: hsl(@base-hue, 8%, 60%);
@text-color-subtle: darken(@text-color, 20%);
@text-color-highlight: hsl(@base-hue, 100%, 90%);
@text-color-selected: white;

@text-color-info: hsl(219, 79%, 66%);
@text-color-success: hsl(140,44%,62%);
@text-color-warning: hsl(36, 60%, 72%);
@text-color-error: hsl(9, 100%, 64%);

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;


// Sizes

@font-size: 11px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;

@tab-height: 30px;


// Font

@font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
