
// UI Variables for Atom Theme: One Dark

// Settings -----------------------------------

@theme-color:             hsl(220, 100%, 50%);
@theme-accent-color:      spin(@theme-color, 176);

@theme-adjust-saturation: 0%; // -/+n%
@theme-adjust-contrast:   0%;


// Config -----------------------------------

@ui-hue:         hsvhue(@theme-color);
@ui-hue-accent:  hsvhue(@theme-accent-color);
@ui-saturation: max(20% + @theme-adjust-saturation, 0%); // limit to > 0%
@ui-brightness:     20%;
@ui-contrast:       @theme-adjust-contrast * 0.1;


// Base colors -----------------------------------

@base-accent-color:     hsl(@ui-hue-accent, @theme-adjust-saturation + 90%, (@ui-brightness + (@ui-contrast*10) + 40%) );
@base-background-color: hsv(@ui-hue, @ui-saturation, @ui-brightness);
@base-border-color:     hsv(@ui-hue, @ui-saturation, @ui-brightness*.7);


// Level Colors -----------------------------------

@level-1-color: lighten(@base-background-color, @ui-contrast + 6%);
@level-2-color:  darken(@base-background-color, @ui-contrast);
@level-3-color:  darken(@base-background-color, @ui-contrast + 3%);


// Var + State Background Colors

@background-color-info:    hsl(208, 100%, 50%);
@background-color-success: hsl(160,  70%, 42%);
@background-color-warning: hsl(32,   60%, 50%);
@background-color-error:   hsl(0,    70%, 50%);

@background-color-highlight: lighten(@base-background-color, 3%);
@background-color-selected: lighten(@base-background-color, 8%);


// Component Colors

@app-background-color:             darken(@level-3-color, 2%);

@tree-view-background-color:       @level-3-color;
@tree-view-border-color:           @base-border-color;

@tab-background-color:             @level-3-color;
@tab-background-color-active:      @level-2-color;
@tab-bar-background-color:         @level-3-color;
@tab-bar-border-color:             @base-border-color;
@tab-border-color:                 @base-border-color;
@tab-text-color:                   @text-color-highlight;
@tab-icon-color:                   @text-color-subtle;
@tab-inactive-transparency:        .5;


@pane-item-background-color:       @base-background-color;
@pane-item-border-color:           @base-border-color;

@panel-heading-background-color:   @level-1-color;
@panel-heading-border-color:       @base-border-color;

@tool-panel-background-color:      @level-3-color;
@tool-panel-border-color:          @base-border-color;

@inset-panel-background-color:     lighten(@level-2-color, 4%);
@inset-panel-border-color:         fadeout(@base-border-color, 15%);

@overlay-background-color:         @level-2-color;
@overlay-border-color:             @base-border-color;
@overlay-backdrop-color:           hsla(@ui-hue,@ui-saturation,5%,.5);

@button-background-color:          @level-1-color;
@button-background-color-hover:    lighten(@button-background-color, 2%);
@button-background-color-selected: darken(@button-background-color, 6%);
@button-border-color:              lighten(@base-border-color, 2%);

@input-background-color:           hsla(0,0%,0%,.2);
@input-border-color:               hsla(0,0%,0%,.2);

@tooltip-background-color:         @base-accent-color;
@tooltip-text-color:               contrast(@tooltip-background-color, white, hsl(0,0%,20%) );
@tooltip-text-key-color:           @tooltip-background-color;
@tooltip-background-key-color:     @tooltip-text-color;

@progress-background-color:        @base-accent-color;

@checkbox-background-color:        hsla(0,0%,100%,.2);

@scrollbar-color:                  @level-1-color;
@scrollbar-background-color:       transparent;


// Utilities

@key-binding-border-color:     hsla(0,0%,100%,.1);
@key-binding-background-color: hsla(0,0%,100%,.1);


// Text Colors

@text-color: hsl(@ui-hue, @ui-saturation, max(30%, (@ui-brightness + @ui-contrast) * 3) );
@text-color-subtle: fadeout(@text-color, 40%);
@text-color-faded: fade(@text-color, 20%);
@text-color-highlight: hsl(@ui-hue, @ui-saturation*8, @ui-contrast*10 + 88%);
@text-color-selected: white;

@text-color-info:    hsl(219,  79%, 66%);
@text-color-success: hsl(140,  44%, 62%);
@text-color-warning: hsl( 36,  60%, 72%);
@text-color-error:   hsl(  9, 100%, 64%);

@text-color-ignored:  @text-color-subtle;
@text-color-added:    @text-color-success;
@text-color-renamed:  @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed:  @text-color-error;


// Sizes

@font-size:       11px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding:      10px;
@component-icon-padding:  5px;
@component-icon-size:    16px;
@component-line-height:  25px;
@component-border-radius: 2px;

@tab-height: 30px;


// Font

@font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
