@import "ui-mixins";
@import "ui-variables";

.key-binding {
  display: inline-block;
  margin-left: @component-icon-padding;
  padding: @component-padding/2;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
  font-size: @font-size - 1px;
  border-radius: @component-border-radius;
  box-shadow: 0 1px 1px hsla(0,0%,0%,.1);
  background: hsla(0,0%,100%,.1);
}

.badge {
  .text(highlight);
  background: @background-color-highlight;
}
