* {
	box-sizing: border-box;
}

html {
	font-size: @font-size;
}

atom-workspace {
	background-color: @app-background-color;

	atom-panel-container.left:empty {
		padding-left: @ui-padding-pane;
	}

}

.platform-darwin {
	atom-workspace.theme-one-light-ui {
	  border-top: 1px solid darken(@base-border-color, 20%);
	}
	&.is-blurred atom-workspace.theme-one-light-ui {
	  border-top-color: @base-border-color;
	}
}


// Scrollbars ------------------------------------

.scrollbars-visible-always {
	/deep/ ::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	/deep/ ::-webkit-scrollbar-track {
		background: @scrollbar-background-color;
	}

	/deep/ ::-webkit-scrollbar-thumb {
		border-radius: 5px;
		border: 3px solid @scrollbar-background-color;
		background: @scrollbar-color;
		background-clip: content-box;
	}

	/deep/ ::-webkit-scrollbar-corner {
		background: @scrollbar-background-color;
	}

	/deep/ ::-webkit-scrollbar-thumb:vertical:active {
		border-radius: 0;
		border-left-width: 0;
		border-right-width: 0;
	}

	/deep/ ::-webkit-scrollbar-thumb:horizontal:active {
		border-radius: 0;
		border-top-width: 0;
		border-bottom-width: 0;
	}

	atom-text-editor {
		/deep/ ::-webkit-scrollbar-track {
			background: @scrollbar-background-color-editor;
		}
		/deep/ ::-webkit-scrollbar-corner {
			background: @scrollbar-background-color-editor;
		}
		/deep/ ::-webkit-scrollbar-thumb {
			border-color: @scrollbar-background-color-editor;
			background: @scrollbar-color-editor;
		}
	}
}

// TODO: Move to a better place, not sure where it gets used
.caret {
  border-top: 5px solid #fff;
  margin-top: -1px;
}
