// Overrides packages

// find-and-replace ---------------------------
.find-and-replace {
  .header,
  .input-block {
    min-width: @font-size*25;
  }

  .input-block-item {
    flex: 1 1 @font-size*25;
  }
  .input-block-item--flex {
    flex: 100 1 @font-size*25;
  }

  .btn,
  .btn-group-options .btn {
    font-size: @font-size*1.1;
    padding: 0;
  }

  .btn-group-options .btn,
  .btn-group-options .btn.option-selection,
  .btn-group-options .btn.option-whole-word {
    font-size: @font-size*1.25;
  }

  .find-container atom-text-editor {
    padding-right: @font-size*5; // leave some room for the results count
  }
  .find-meta-container {
    top: .66em;
  }
}


// project-find
.project-find {
  .header,
  .input-block {
    min-width: @font-size*15;
  }

  .input-block-item {
    flex: 1 1 @font-size*10;
  }
  .input-block-item--flex {
    flex: 100 1 @font-size*20;
  }

  .btn {
    font-size: @font-size*1.1;
    padding: 0;
  }
  .btn-group-options .btn {
    font-size: @font-size*1.25;
  }
}


// markdown-preview ---------------------------
.markdown-preview {
  font-size: @font-size;
}
