
@panes-padding: @component-padding/4;

atom-pane-container {
  padding: @panes-padding @panes-padding 0 0;
  atom-pane {
    position: relative;
    padding: @panes-padding @panes-padding 0 0;

    .item-views {
      border: 1px solid @pane-item-border-color;
      //border-width: 0 0 1px 1px;
      border-width: 0 1px 1px 1px;
    }

  }

  // .pane-row.horizontal > .pane:last-of-type > .item-views {
  //   border-right: 1px solid @pane-item-border-color;
  // }


  // atom-pane-axis {
  //   &.horizontal > * {
  //     border-right: 1px solid @pane-item-border-color;
  //     &:last-child { border-right: none; }
  //   }
  //
  //   &.vertical > * {
  //     border-bottom: 1px solid @pane-item-border-color;
  //     &:last-child { border-bottom: none; }
  //   }
  // }
}
