@import "syntax-variables";

// ONE dark UI variables
// -----------------------------------

// Debug (console.log for Less)
// html:before {
//   content: "@{variable}";
// }

// Solar colours

@solar-color-base01: #93A1A1;
@solar-color-base01-dark: #304647;
@solar-color-base02-light: lighten(@solar-color-base02, 5%);
@solar-color-base02: #073642;
@solar-color-base03: #002B36;
@solar-color-base04: #00222D;
@solar-color-base0: #839496;
@solar-color-base1: #93a1a1;
@solar-color-base2: #eee8d5;
@solar-color-base3: #fdf6e3;
@solar-color-cyan:  #2aa198;


// Adjust -----------------------------------

@ui-a:       hsl(252, 11%, 18%); // fallback
@ui-a:       @syntax-background-color;

// Goal: use @syntax-background-color if it's dark enough, otherwise use same hue but stay dark
// The light up by 100% is done to trick contrast() into picking one of 2 dark colors
@ui-a-h:     hue(@ui-a);
@ui-a-s:     min( saturation(@ui-a), 12%);
@ui-a-l:     luma(@ui-a) + 100%; // (1) light up
@ui-a-light: hsl(@ui-a-h, @ui-a-s, @ui-a-l); // (2) flashed color
@ui-a-color: contrast(@ui-a-light, @ui-a, hsl(@ui-a-h, @ui-a-s, 24%) ); // (3) use @ui-a if darker than 24%


// Config -----------------------------------

@ui-hue:        hue(@ui-a-color);
@ui-saturation: saturation(@ui-a-color);
@ui-lightness:  lightness(@ui-a-color);
@ui-color:      @ui-a-color;


// Base colors -----------------------------------

@base-accent-color:     @solar-color-cyan;
@base-background-color: @ui-color;
@base-border-color:     hsl(@ui-hue, @ui-saturation, @ui-lightness*.7);

// Editor colors -----------------------------------
@ui-editor-background-color: @ui-a;


// Level Colors -----------------------------------

@level-1-color: lighten(@base-background-color, 6%);
@level-2-color: @base-background-color;
@level-3-color: darken(@base-background-color, 3%);


// Var + State Background Colors -------------------------------------

@background-color-info:    hsl(208, 100%, 50%);
@background-color-success: hsl(160,  70%, 42%);
@background-color-warning: hsl(32,   60%, 50%);
@background-color-error:   hsl(0,    70%, 50%);

@background-color-highlight: lighten(@base-background-color, 4%);
@background-color-selected: lighten(@base-background-color, 8%);


// Component Colors -------------------------------------

@app-background-color:             darken(@level-3-color, 2%);

@tree-view-background-color:       @level-3-color;
@tree-view-border-color:           @base-border-color;

@tab-background-color:             @level-3-color;
@tab-background-color-active:      @level-2-color;
@tab-bar-background-color:         @level-3-color;
@tab-bar-border-color:             @base-border-color;
@tab-border-color:                 @base-border-color;
@tab-text-color:                   @text-color-highlight;
@tab-icon-color:                   @text-color-subtle;
@tab-inactive-transparency:        .5;
@tab-background-color-editor:      @ui-editor-background-color;
@tab-text-color-editor:            contrast(@ui-editor-background-color, darken(@ui-editor-background-color, 50%), @text-color-highlight );

@pane-item-background-color:       @base-background-color;
@pane-item-border-color:           @base-border-color;

@panel-heading-background-color:   @level-2-color;
@panel-heading-border-color:       @base-border-color;

@tool-panel-background-color:      @level-3-color;
@tool-panel-border-color:          @base-border-color;

@inset-panel-background-color:     lighten(@level-2-color, 4%);
@inset-panel-border-color:         fadeout(@base-border-color, 15%);

@overlay-background-color:         @level-2-color;
@overlay-border-color:             @base-border-color;
@overlay-backdrop-color:           hsla(@ui-hue,@ui-saturation,5%,.5);

@badge-background-color:           lighten(@background-color-highlight, 6%);

@button-background-color:          @level-1-color;
@button-background-color-hover:    lighten(@button-background-color, 2%);
@button-background-color-selected: @base-accent-color;
@button-text-color-selected:       contrast(@button-background-color-selected, white, hsl(@ui-hue,100%,10%), 40% );
@button-border-color:              @base-border-color;
@button-border-color-selected:     @base-border-color;

@input-border-color:               hsla(0,0%,0%,.2);
@input-background-color:           hsla(0,0%,0%,.2);
@input-background-color-focus:     fadein(@input-background-color, 6%);
@input-selection-color:            darken(@background-color-selected, 6%);
@input-selection-color-focus:      @background-color-selected;

@tooltip-background-color:         @base-accent-color;
@tooltip-text-color:               contrast(@tooltip-background-color, white, hsl(@ui-hue,100%,10%), 40% );
@tooltip-text-key-color:           @tooltip-background-color;
@tooltip-background-key-color:     @tooltip-text-color;

@progress-background-color:        @base-accent-color;

@checkbox-background-color:        fade(@base-accent-color, 33%);

@scrollbar-color:                  @level-1-color;
@scrollbar-background-color:       @level-3-color; // replaced `transparent` with a solid color to test https://github.com/atom/one-light-ui/issues/4


// Utilities

@key-binding-border-color:     hsla(0,0%,100%,.1);
@key-binding-background-color: hsla(0,0%,100%,.1);


// Text Colors -------------------------------------

@text-color: @solar-color-base2;
@text-color-subtle: @solar-color-base1;
@text-color-faded: fade(@text-color, 20%);
@text-color-highlight: @solar-color-base3;
@text-color-selected: @text-color-highlight;

@text-color-info: #5293d8;
@text-color-success: #26c26a;
@text-color-warning: #ff982d;
@text-color-error: #c00;

@text-color-added:    @text-color-success;  // green
@text-color-ignored:  @text-color-subtle;   // faded
@text-color-modified: @text-color-warning;  // orange
@text-color-removed:  @text-color-error;    // red
@text-color-renamed:  @text-color-info;     // blue

// Sizes -------------------------------------

html { font-size: 11px; }   // base font-size

@font-size:             1em;
@input-font-size:       @font-size*1.25;
@disclosure-arrow-size: @font-size;

@component-padding:       @font-size*1.5;
@component-line-height:   @font-size*2;
@component-icon-padding:  @component-padding/3.3;
@component-icon-size:     16px; // needs to stay 16px to look sharpest
@component-border-radius: 3px;

@tab-height:              @component-padding*2;


// Font -------------------------------------

@font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;


// Settings View -------------------------------------

@settings-list-background-color: darken(@level-2-color, 1.5%);
@theme-config-box-shadow: inset 0 0 3px hsla(0, 0%, 100%, .4), 0 1px 3px hsla(0, 0%, 0%, .2);
@theme-config-box-shadow-selected: inset 0 1px 3px hsla(0, 0%, 0%, .1);
@theme-config-border-selected: hsla(0, 0%, 100%, .75);
